#check {
    margin: 10% auto;
    text-align: center;
}
.question {
    display: block;
    margin: auto;
}
.no {
    margin-left: 20%;
}

* {
    list-style: none;
    text-decoration: none;
}
body {
    max-width: 100%;
    overflow-x: hidden;
    -ms-overflow-style: none; 
} 
::-webkit-scrollbar { 
    display: none; 
}
ul, li {
    list-style: none;
}
header {
    position: fixed;
    width: 100%;
    height: auto;
    line-height: 2;
    background-color: #fcfdfec2;
    z-index: 1;
}
header img {
    display: block;
    position: absolute;
    width: 96px;
    height: 50px;
    left: 350px;
    z-index: 1;
}
header nav ul {
    text-align: right;
    margin-right: 10%;
    z-index: 1;
}
header nav li {
    display: inline;
    font-size: 120%;
    margin-right: 150px;
    z-index: 1;
}
header nav li a {
    color: #333333;
    font-weight: 700;
    letter-spacing: -1px;
    z-index: 1;
}
nav li a.fact, nav li a:hover {
    color: #6eb328;
}
.clear {
    clear: both;
}
nav li a.on { 
    color: #6eb328;
}
#container section {
    position: relative;
}
#container #fact {
    background-color: #F2F7F8;
}
#container #fact .fact1 .fact1_main {
    position: relative;
}
#container #fact .fact1 .fact1_main .title {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 25%;
    z-index: 1;
}
.fact1_main .txt_img {
    position: absolute;
    top: 50%;
    left: 18%;
    z-index: 1;
}
.local img {
    position: absolute;
}
.local img:nth-child(1) {
    left: 38%;
}
.local img:nth-child(2) {
    top: 16%;
    right: 17.5%;
}
.local img:nth-child(3) {
    top: 34%;
    right: 30%;
}
.local img:nth-child(4) {
    top: 58%;
    right: 37%;
}
.soju {
    position: relative;
    top: 250px;
    left: 68%;
}
.fact1_rate {
    position: absolute;
    text-align: center;
}
.fact1_rate .rate {
    position: relative;
    top: 300px;
    left: 50%;
    font-size: 30px;
}
.fact1_rate ul li {
    display: inline-block;
    position: relative;
    list-style: none;
    top: 300px;
    left: 50%;
    margin: 20;
    font-size: 20px;
    color: #666;
}
.fact1_rate .txt {
    position: relative;
    text-align: left;
    top: 300px;
    left: 50%;
    color: #5CA413;
    font-size: 20px;
}
.fact1_rate .date {
    color: #666;
    text-align: right;
}
.fact1_struct {
    position: relative;
    top: 1000px;
    text-align: left;
}
.fact1_struct p {
    position: relative;
    font-size: 30px;
    font-weight: bold;
    color: #666;
    left: 18%;
}
.fact1_struct .soju_struct .juju b {
    color: #A1D56D;
    font-size: 30px;
}

.fact1_struct .soju_struct .related_people b {
    color:#0B8814;
    font-size: 30px;
}

.fact1_struct .soju_struct {
    position: relative;
    left: 45%;
}
.fact1_struct .soju_struct .juju {
    position: absolute;
    color: #666;
    font-size: 20px;
    top: 200px;
    left: -7%;
}
.fact1_struct .soju_struct .related_people {
    position: absolute;
    color: #666;
    font-size: 20px;
    top: 300px;
    left: 20%;
}
.fact1_struct .txt {
    position: relative;
    width: 55.5%;
    left: -20%;
    text-align: left;
    color: #5CA413;
    font-size: 20px;
}
.fact1_struct .date {
    position: relative;
    color: #666;
    font-size: 20px;
    font-weight: 400;
    left: 60%;
}
#container #fact .fact2 .fact2_main {
    position: relative;
    margin-top: 1000;
}
.fact2_main .txt_img {
    position: absolute;
    top: 50%;
    left: 18%;
    z-index: 1;
}
.fact2_main .stats p {
    position: relative;
    font-size: 30px;
    color: black;
    top: 80px;
    left: 18%;
}
.fact2_main .stats {
    position: relative;
    font-size: 20px;
    text-align: center;
    color: #666;
    top: 150px;
    margin-left: 100px;
}
.fact2_main ul li {
    position: relative;
    margin: 40;
    text-align: left;
    top: 100px;
    left: 50%;
}
.fact2_main .graph {
    position: absolute;
}
.graph .txt {
    position: relative;
    text-align: left;
    width: 28%;
    color: #5CA413;
    font-size: 20px;
    top: 400px;
    left: 20%;
    z-index: 1;
}
.graph .date {
    color: #666;
    text-align: left;
    font-size: 20px;
    font-weight: 400;
}
.graph .p_graph {
    position: relative;
    width: 1200px;
    height: 634px;
    top: 230px;
    left: 20%;
    background: #71BB34;
}
#container #fact .fact3 .fact3_main {
    position: relative;
    margin-top: 25%;
}
.fact3_main .txt_img {
    position: relative;
    top: 50%;
    left: 18%;
    z-index: 1;
}
.fact3_main .p_tree {
    position: absolute;
    top: 35px;
    left: 60%;
}
.tree .planted {
    position: relative;
    text-align: center;
    font-size: 30px;
    color: #666;
    margin-top: 200px;
}
.tree ul li {
    position: relative;
    display: inline-block;
    list-style: none;
    text-align: center;
    margin-top: 50px;
    margin-right: 50px;
    left: 33%;
    font-size: 20px;
}
.news1 {
    position: absolute;
    left: 18%;
    color: #666;
    font-size: 20px;
    text-align: center;
    margin: 5;
}
.news2 {
    position: relative;
    left: 18%;;
    color: #666;
    font-size: 20px;
    text-align: center;
}
.news .txt {
    position: relative;
    text-align: left;
    width: 65%;
    color: #5CA413;
    font-size: 20px;
    top:40px;
    left: 18%;
    z-index: 1;
}
.news .txt p {
    color: #666;
    text-align: right;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 100px;
}
#container #story {
    background-color: white;
}
#container #story .story_main {
    position: relative;
}
#container #story .story_main .title {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 40%;
    z-index: 1;
}
.story_main .story_video iframe{
    position: relative;
    text-align: center;
    top: 350px;
    left: 18%;
}
#container #story .creation {
    position: relative;
    margin-top: 500px;
}
.creation .title {
    position: absolute;
    left: 18%;
    z-index: 1;
}
.creation .txt {
    position: relative;
    top: 200px;
    left: 18%;
    color: #333333;
    font-size: 30px;
    word-spacing: -1;
    z-index: 1;
}
.creation .bg {
    position: relative;
    top: 150px;
}
#story .brand {
    position: relative;
    margin-top: 300px;
}
.brand .title {
    position: relative;
    left: 22%;
}
.brand .txt ul li {
    position: relative;
    list-style: none;
    display: inline-block;
    font-size: 20px;
    color: #333333;
    margin-top: 60px;
    left: 22%;
}
.brand .bg {
    position: relative;
    text-align: left;
    margin-top: 60px;
}
.swiper-container {
    width: 720px;
    height: 480px;
}
.swiper-slide {
    text-align: center;
}
#container #story .awards {
    position: relative;
    margin-top: 250px;
}
.awards .title {
    position: relative;
    left: 33%;
    z-index: 1;
}
.awards_photo {
    position: relative;
    top: 100px;
    left: 20px;
}
.awards p {
    font-size: 20px;
    color: #333333;
}
#container #story .certify {
    position: relative;
    margin-top: 250px;
}
.certify .title {
    position: relative;
    margin-top: 200px;
    left: 33%;
    z-index: 1;
}
.certify_photo {
    position: relative;
    top: 100px;
    left: 20px;
}
.certify p {
    font-size: 20px;
    color: #333333;
}
#container #people {
    background-color: #F2F7F8;
}
#container #people .people_ {
    position: relative;
}
#container #people .people_ .title {
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 200px;
    padding-top: 200px;
    z-index: 1;
}
.people_ .sub_title {
    position: relative;
    top: 50px;
    left: 33%;
    z-index: 1;
}
button {
    border: 0;
    outline: 0;
    width: auto;
    height: auto;
    cursor: pointer;
}
.people_ .vlog1, .people_ .vlog2, .people_ .vlog3 {
    position: relative;
    text-align: center;
    margin-top: 150px;;
}
.people_ p {
    font-size: 30px;
    color: #333333;
}
footer {
    padding-top: 150px;
    text-align: center;
}
footer .icon {
    margin: 150px 50px;
}
.fb, .insta, .blog, .youtube {
    margin-left: 50px;
}
footer .copyright {
    margin-top: 150px;
}